{% extends "layout.html" %}
{% block body %}
  <script src="{{ url_for('static', filename='js/get-current-position.js') }}" type="text/javascript"></script>
  <div id="geolocation-result"></div>
  <button type="button" id="btn">button</button>
  <script>
    // ready is to prevent any jQuery code from running before the document is finished loading.
    $(document).ready(function() {
      $("#geolocation-result").click(function() {
        $(this).hide();
      });
    });
  </script>
{% endblock %}
