{% extends "layout.html" %}
{% block content %}
  {#<h1>{{ rest.name }}(詳細画面)</h1>
  <div style="border: 10px soild black;">
    <table border="1" style="text-align: center;">
      <tr>
        <th>name</th>
        <th>img_url1</th>
        <th>img_url2</th>
      </tr>
      <tr>
        <td>{{ rest.name }}</td>

        {% if rest.img_url1 %}
          <td><img src="{{ rest.img_url1 }}" /></td>
        {% else %}
          <td>画像がありません</td>
        {% endif %}

        {% if rest.img_url2 %}
          <td><img src="{{ rest.img_url2 }}" /></td>
        {% else %}
          <td>画像がありません</td>
        {% endif %}
      </tr>
      <tr>
        <th>address</th>
        <th>tel</th>
        <th>opening_hours</th>
      </tr>
      <tr>
        <td>{{ rest.address }}</td>
        <td>{{ rest.tel }}</td>
        <td>{{ rest.opening_hours }}</td>
      </tr>
    </table>
  </div>#}

  <div class="wrapper">
    <div class="detailed_page">

      <!-- 詳細TOP -->
      <div class="d-top clearfix">
        <div class="d-top-left">
          <div class="rest-name">
            <h1>{{ rest.name }}</h1>
          </div>
          <div class="budget">
            <ul>
              <li>ランチ1000円</li>
              <li>宴会・パーティー予算</li>
            </ul>
          </div>
        </div>
        <div class="d-top-right">
          <ul>
            <a href=#>クーポン</a>
            <p><img src="{{ url_for('static', filename='img/tel.svg') }}">070-4165-5923</p> 
          </ul>
        </div>
      </div>
      
      <!-- お店PR -->
      <div class="d-pr clearfix">
        <div class="rest-imgs">

          <!-- メインの画像 -->
          <div class="main-img">
            {% if rest.img_url1 %}
              <img src="{{ rest.img_url1 }}" />
            {% elif rest.img_url2 %}
              <img src="{{ rest.img_url2 }}" />
            {% endif %}
          </div>

          <!-- サブの画像 -->
          {% if rest.img_url1 and rest.img_url2 %}
            <div class="sub-img clearfix">
              <div class="sub-img1">
                <img src="{{ rest.img_url1 }}" />
              </div>
              <div class="sub-img2">
                <img src="{{ rest.img_url2 }}" />
              </div>
            </div>
          {% endif %}
        </div>
        <div class="pr">
            <dl>
              <dt>お店のPR</dt> 
              <dd><p>{{ rest.pr_long }}</p></dd>
            </dl>
        </div>
      </div>

      <!-- アクセス -->
      <div class="d-access clearfix">
        <div id="map-canvas">
        </div>
        <div class="d-access-right">
          <dl>
            <div class="access">
              <dt>住所・アクセス</dt> 
              <dd><p>{{ rest.address }}</p><p>{{ rest.access }}</p></dd>
            </div>
            <div class="opening-hours">
              <dt>営業時間・定休日</dt> 
              <dd><p>{{ rest.opening_hours }}</p><p>{{ rest.holiday }}</p></dd>
            </div>
          </dl>
        </div>
      </div>

      <!-- 更に細かい情報 -->
      <div class="d-all-info">
        <table>
          <tr>
            <th>店名</th>
            <td>{{ rest.name }}</td>
          </tr>
          <tr>
            <th>営業時間</th>
            <td>{{ rest.opening_hours }}</td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td>{{ rest.tel }}</td>
          </tr>
          <tr>
            <th>住所</th>
            <td>{{ rest.address }}</td>
          </tr>
          <tr>
            <th>アクセス</th>
            <td>{{ rest.access }}</td>
          </tr>
          <tr>
            <th>駐車場</th>
            <td></td>
          </tr>
          <tr>
            <th>平均予算</th>
            <td></td>
          </tr>
          <tr>
            <th>クレジットカード</th>
            <td></td>
          </tr>
          <tr>
            <th>電子マネー</th>
            <td></td>
          </tr>
          <tr>
            <th></th>
            <td></td>
          </tr>
          <tr>
            <th></th>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- google map apiの読み込み -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQM4ojhGRxj_N1rnbNCHSjIv062WXP3SU&language=ja"></script>
  <script src="{{ url_for('static', filename='js/google-map.js') }}" type="text/javascript"></script>
{% endblock %}

