{% extends "layout.html" %}
{% block content %}
  <!-- 検索半径を指定 デフォルトでは500m -->
  {% if search_radius %}
    <p>検索半径は{{ search_radius }}mです</p>
  {% endif %}
  <form method="POST" action="">
    <label for="rad300">300m</label>
    <input type="radio" name="search_radius_idx" value="1" id="rad300">
    <!-- デフォルトの値 -->
    <label for="rad500">500m</label>
    <input type="radio" name="search_radius_idx" value="2" id="rad500" checked>
    <label for="rad1000">1000m</label>
    <input type="radio" name="search_radius_idx" value="3" id="rad1000">
    <label for="rad2000">2000m</label>
    <input type="radio" name="search_radius_idx" value="4" id="rad2000"> 
    <label for="rad3000">3000m</label> 
    <input type="radio" name="search_radius_idx" value="5" id="rad3000">

    <!-- 送信ボタン -->
    <input type="submit" value="送信する">
  </form>

  {% for restaurant in rests %}
    <div style="border: 10px soild black;">
      <table border="1" style="text-align: center;">
        <tr>
          <th>name</th>
          <th>img_url1</th>
          <th>img_url2</th>
        </tr>
        <tr>
          <td>{{ restaurant.name }}</td>

          {% if restaurant.img_url1 %}
            <td><img src="{{ restaurant.img_url1 }}" /></td>
          {% else %}
            <td>画像がありません</td>
          {% endif %}

          {% if restaurant.img_url2 %}
            <td><img src="{{ restaurant.img_url2 }}" /></td>
          {% else %}
            <td>画像がありません</td>
          {% endif %}
        </tr>
        <tr>
          <th>address</th>
          <th>tel</th>
          <th>opening_hours</th>
        </tr>
        <tr>
          <td>{{ restaurant.address }}</td>
          <td>{{ restaurant.tel }}</td>
          <td>{{ restaurant.opening_hours }}</td>
        </tr>
        <tr>
          <td><a href="{{ url_for('gnavi_detail', id=restaurant.id) }}" target="_blank">詳細</a>
        </tr>
      </table>
    </div>
  {% endfor %}
{% endblock %}
