.detailed_page {
  margin-top: 20px;
  
  min-height: 300px;
  border: solid 2px black;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

/************詳細ページTOP*********/
.d-top {

  min-height: 300px;
  border: solid 2px orange;
}

.d-top-left {
  width: 70%;
  float: left;

  box-sizing: border-box;
  border: solid 1px black; 
}

.d-top-left .rest-name {
  padding: 20px;
  border: solid 1px red; 
}

.d-top-left ul {
  padding-left: 20px;
}

.rest-name h1 {
  margin: 0;
}

.d-top-left .budget {
  border: solid 1px green;
}
.d-top-right {
  width: 30%;
  float: left;

  box-sizing: border-box;
  border: solid 1px blue; 
}

.d-top-right p {
  border: solid 1px red; 
  
}

.d-top-right img {
  height: 16px;
  width: 16px;
}
/*********************************/



/************お店のPR*************/
.d-pr {
  border: solid 2px green;
}

.d-pr .rest-imgs {
  float: left;
  width: 210px;
  margin: 0;
  box-sizing: border-box;
}
.main-img {
  height: 210px;
}

.main-img img {
  width: 210px;
  height: 210px;
  object-fit: cover; 
}

.sub-img .sub-img1, .sub-img .sub-img2 {
  box-sizing: border-box;
  width: 105px;
  height: 105px;
  float: left;
}

.sub-img img {
  object-fit: cover; 
  width: 105px;
  height: 105px;
}

.d-pr .pr {
  box-sizing: border-box;
  float: left;
  width: -webkit-calc(100% - 210px);
  width: calc(100% - 210px);
  /*border: solid 2px red;*/
}

.pr dl {
  margin: 0;
}

.pr dt {
  padding-left: 10px;
  border-left: 3px solid #cc3333;
  background-color: #f0f0f0;
}

.pr dd {
  margin: 0;  
}

.pr p {
  margin: 6px 6px 0  10px;
}

/*********************************/



/************アクセス************/
.d-access {
  min-height: 300px;
  border: solid 2px blue;
}


#map-canvas {
  width: 50%;
  box-sizing: border-box;
  height: 400px;
  border: solid 1px #dddddd;
  float: left;
}

.d-access-right {
  width: 50%;
  box-sizing: border-box;
  float: left;
  margin: 0;
}

.d-access-right p {
  box-sizing: border-box;
  /*border: solid 2px black;*/
  margin: 6px 6px 0 10px;
}

.d-access-right dl {
  margin: 0;
}


.d-access-right dt {
  padding-left: 10px;
  border-left: 3px solid #cc3333;
  background-color: #f0f0f0;
}

.d-access-right dd {
  box-sizing: border-box;
  /*border: solid 2px black;*/
  margin: 0;
}

.d-access-right .access {
  /*border: solid 2px black;*/
  margin-bottom: 30px
}
/*********************************/


/**********すべての情報***********/
.d-all-info {

  min-height: 300px;
  border: solid 2px red;
}
/*********************************/

